* {
    margin: 0;
    padding: 0;
}


/* Style Header */

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    width: 6vw;
    height: 5vh;
}

header {
    height: 15vh;
    background: linear-gradient(#ffbd59, #FF914D);
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    display: flex;
}


/* Style Main */

main {
    text-align: center;
    display: flex;
}

.texto-home {
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    line-height: 35px;
}

.texto-sobre {
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    line-height: 35px;
}

.imagem-sobre {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.texto-servico {
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    line-height: 35px;
}

.imagem-servico {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.texto-contato {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    line-height: 50px;
}

.imagem-contato {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.imagem-home {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* Style Formulário*/

.formulario {}


/* Style Footer */

footer {
    height: 5vh;
    background: linear-gradient(#ffbd59, #FF914D);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1px;
}

.icon {
    display: flex;
    margin: 5px;
    padding: 2px;
    text-align: center;
    justify-content: center;
    width: 30px;
}


/* Style Responsivo */